{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    <div class="card mb-2">
        {{ include('@FOSUser/Security/login_content.html.twig') }}
    </div>
{% endblock fos_user_content %}
