<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="csrf-token" content="{{ csrf_token('auth') }}">
        <title>{% block title %}Dummy Blog{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="container">
            {# Header component #}
            {% include "layouts/partials/header.html.twig" with {title: block('title')} %}

            {# Navbar compopnent #}
            {% include "layouts/partials/navbar.html.twig" %}

            {# Hot Blogpost #}
            {% block featured_post %}
                {% include "layouts/partials/jumbtron.html.twig" %}
            {% endblock %}
        </div>
        <main role="main" class="container">
            {% block content %}{% endblock %}
        </main>

        {% include "layouts/partials/footer.html.twig" %}
        {% block javascripts %}{% endblock %}
        <script src="{{ asset('build/app.js') }}"></script>
    </body>
</html>
